*,
::after,
::before {
    box-sizing: border-box;
}

body, p {
    margin: 0;
}
.carousel {
    display: flex;
    overflow: auto;
    width: 700px;
    height: 100%;
    margin: 50px auto;
}

.carousel__box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    scroll-snap-type: x mandatory;

    &-block1 {
        
        width: 700px;
        height: 400px ;
        background: url("../image/stone1.jpg") no-repeat;
        background-size: cover;
        scroll-snap-align: center;
        
    }
    &-block2 {
        
        width: 700px;
        height: 400px ;
        background: url("../image/stone2.jpg") no-repeat;
        background-size: cover;
        scroll-snap-align: center;
        
    }
    &-block3 {
        
        width: 700px;
        height: 400px ;
        background: url("../image/stone3.jpg") no-repeat;
        background-size: cover;
        scroll-snap-align: center;
        
    }

}
