$font-blue: #4A99D3;
$font-hover: #173e59;
*, 
::after,
::before {
    box-sizing: border-box;
}

body, p, a, h1, h2, h3 {
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
    font-family: 'Roboto';
    font-style: normal;
    color: #0F001A;
    text-decoration: none;
}
html {
    font-size: 16px;
}

.header {
    background:  linear-gradient( #4a99d333 -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF ;
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.1);
}

.main-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color:$font-blue;
    text-transform: uppercase;
} 

.header__nav{
    padding-top: 40px;
    margin-bottom: 146px;
}

// Buttons setting
.download-button {
        display: flex;
        background-color: $font-blue;
        width: 18em;
        height: 6em;
        padding: 1.4em 2.2em;
        border-radius: .5em;
        margin-right: 2em;
        transition: .2s;
}
.download-button:hover {
        background-color: $font-hover; 
}
.google-image {
        height: 3em;
        width: 2.7em;
}
.google-top-text, .google-bottom-text  {
        color: #FFFFFF;
        margin-left: 12px;
        font-family: 'Roboto', sans-serif;
}
.google-top-text {
        font-size: 1em;
}
.google-bottom-text{
        text-align: center;
        font-size: 1.6em;
}
// Container setting
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

// Nav ***
.header__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
    padding-top: 45px;
        .menu-element {
            margin-left: 50px;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            color: #0F001A;
            transition: .1s;
        } 
        .menu-element:hover {
            color: $font-blue;
        }
}

// Header content ===
 .header__content {
        display: flex;
        flex-direction: row;
        padding-bottom: 78px;
        &-info {
            width: 70%;
            margin-right: 32px;
        } 
        &-image {
            width: 30%;
            position: relative;
            margin-bottom: 77px;
            animation-name: Mockup;
            animation-duration: 1s;
            animation-iteration-count: 1;
            .mockup-small {
                z-index: 1;
                position: relative;
                left: 0;
                bottom: 0;
                transform: translateY(35px);
            }
            .mockup-big {
                position: absolute;
                right: -50px;
                transform: translateY(-37px);
            }
            
        } 
        @keyframes Mockup {
            0% {
                transform: translateX(1000px);
            }
            100% {
                transform: translateX(0);
            }
        }
        &-download {
            display: flex;
            flex-direction: row;
            justify-content: left;
            font-size: 10px;
        }
    &-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-top: 75px;
    }
    &-text {
        font-weight: 400;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        margin: 14px 0 60px 0;
        text-align: left;
    }
    
}

// Main-section ====
.main-content {
    position: relative;
    &__wrapper {
    padding: 150px 0;
    display: flex;
    justify-content: space-between;}
    .left-part {
        position: relative;
        width: 50%;
        }
    .right-part {
        position: relative;
        width: 50%;
    } 
    &__title{
        max-width: 380px;
        text-align: left;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        margin-bottom: 170px;
    }
    &__decoration-blue {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__decoration-orange {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}  
// main info card 
.info-card {
    position: relative;
    z-index: 50;
    max-width: 380px;
    min-height: 525px;
    box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
    border-radius: 10px;
    padding: 48px;
    margin-bottom: 113px;
    margin-left: 105px;
    background-color: #FFFFFF;
&__img {
    margin-bottom: 56px;
    }
&__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}
&__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 62px;
    opacity: 0.6;
}
&__button {
    a {
        display: flex;
        align-items: center;
        p {
        color: $font-blue;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        margin-right: 19px;
        }
    }
    img {
        width: 16px;
        height: 16px;
    }

}

}

// main dots decoration 
.dots-decoration-receive {
    position: absolute;
    top: 500px;
    z-index: 0;
}
.dots-decoration-send{
    position: absolute;
    top: -5%;
    right: 15%;
}
.dots-decoration-buy{
    position: absolute;
    right: 15%;
    bottom: 2%;
}



// HOWITWORKS 
.how-it-works {
    background: rgba(74, 153, 211, 0.1);
    height: 100%;
    &__wrapper{
    padding: 95px 0;
    h3 {
        font-size: 26px;
        color: $font-blue;
        text-align: center;
        margin-bottom: 92px;
    }
    }
    &__elements-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .element {
        text-align: center;
        font-size: 16px;
        width: 14em;
        &__img {
            margin-bottom: 1.8em;
        }
        &__title {
            font-size: 1.12em;
            font-weight: 500;
            line-height: 1.18em;
            margin-bottom: 0.6em;
            
        }
        &__text {
            font-size: 1em;
            line-height: 1.62em;
            
        }
    }


}


// What our client say + Download to more 
.client-feedback{
    position: relative;
    &__decoration-blue {   
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__decoration-orange {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.section__wrapper {
    h3 {
        padding-top: 140px;
        text-align: center;
        font-size: 26px;
        margin-bottom: 11px;
    } 
}

// Carousel ===
.carousel {
    margin-bottom: 150px;
    display: flex;
    .client-box {   
        width: 50%;
    }
    .client-box::before {
        position: absolute;
        content: " ";
        background: rgba(74, 153, 211, 0.1);
        border-radius: 0px 6px 6px 0px; ;
        height: 400px;
        width: 45%;
        left: 0;
        top: 300px;
    }
    .client-box::after{
        position: absolute;
        content: " ";
        background-image: url("../image/dots-decoration.png");
        width: 154px;
        height: 154px;
        top: 385px;
        right: 0;
    }
    .client-feedback {
        width: 50%;
        margin-top: 212px;
        .feedback-text {
            height: 40%;
            margin-top: 43.13px;
            font-size: 1rem;
            opacity: 0.5;
            line-height: 24px;
        }
        .client-name {
            margin-top: 40px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .carousel-button-box {
        float: right;
        display: flex;
        a {
            text-align: center;
            font-size: 56px;
            font-weight: 300;
            color: $font-blue;
            width: 80px;
            height: 80px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            padding: auto auto;
            transition: .1s;
        }

       .left:hover, .right:hover{
        background-color: $font-blue;
        color: #FFFFFF;
       }
       }
    }

// Download to enjoy section 
.download-to-more {
    display: flex;
    padding-bottom: 320px;
    &__mockUp {
        position: relative;
        width: 50%;
        animation-name: phones;
        animation-duration: 1s;
        animation-iteration-count: 1;
        img:nth-child(1) {
           position: absolute;
           top: 0;
           left: 12%;
        }
        img:nth-child(2){
            position: absolute;
            top: -22%;
            left: 32%;
            // transform: translateX(220px);
            z-index: 2;
        }
        img:nth-child(3) {
            position: absolute;
            top: 0;
            right: 12%;
        }
    }
    @keyframes phones {
        0% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translateX(0) ;
        }   
    }
    
    &__info {
        width: 50%;
        &_title{
            margin-top: 60px;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
        }
        &_text {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            opacity: 0.5;
            text-align: center;
        }
    }
    &__button_box {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 60px;
        .download-button {
            margin: 0;
            background-color: #0F001A;
            }
        .download-button:hover {
            background-color: $font-blue;
        }
        
    }
}

// Footer
.footer {
    background-color: $font-blue;
}
.footer__content {
    display: flex;
    padding: 54px 0 29px 0;
    .logo p{
        font-weight: 700;
        font-size: 34px;
        color: #FFFFFF;
        margin-right: 145px;
    }
    &-box {
        width: 15%;
        display: flex;
        flex-direction: column;
        margin-right: 60px;
        .box-element-title {
            font-weight: 500; 
            font-size: 18px;
            color: #FFFFFF;
            text-decoration: underline;
            margin-bottom: 34px;
        }
        .box-element-title:hover {
            text-decoration: none;
        }
        .box-element {
            font-weight: 300;
            font-size: 14px;
            color: #FFFFFF;
            margin-bottom: 18px; 
        } 
        .box-element:hover{
            text-decoration: underline;
        }
    }
    .subscribe{
        display: flex;
        flex-wrap: wrap;
        height: 40%;
        font-size: 10px;
        label {
            font-weight: 300;
            font-size: 1.8em;
            line-height: 26px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        input {
            width: 60%;
            font-weight: 400;
            font-size: 1.4em;
            padding: 1.3em 0.7em;
            border: none;
            border-radius: 3px;
        }
        input:focus {
            outline: none;
        }
        a{
            background-color: #FFFFFF;
            font-weight: 700;
            font-size: 1.6em;
            color: $font-blue;
            margin-left: 10px;
            text-align: center;
            padding: 1em;
            border-radius: 3px;
            transition: .2s;
        }
        a:hover {
            background-color: $font-hover;
            color: #FFFFFF;
        }
    }
}
.footer__subcontent {
    border-top: 1px solid   #FFFFFF;
}
.footer__subcontent-box {
    display: flex;
    justify-content: space-between;
    .copyright {
        margin: 32px 0;
        p{
            font-weight: 700;
            font-size: 10.41px;
            color: #FFFFFF;
        }
    }
    .media-box {
        margin: 32px 0;
        display: flex;
        &__element {
            margin-left: 18.74px;
        }
    }
}