*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Fonts and Paddings */

.header-title,
.footer-title {
    color: #ffffff;
    font-size: 32px;
}

.nav-title,
.link-title {
    padding: 10px;
}
.property {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.article-title {
    font-weight: bold;
    padding: 10px 0 0 25px;
}
.article-text{
    padding: 10px 25px;
    text-align: justify;
} 

/* Container Grid */

.grid-box {
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr minmax(200, auto);
    grid-template-rows: minmax(200px, auto) 1fr minmax(200, auto);;
    grid-template-areas: "h h h" "nav a link" "f f f";
}

.header {
    grid-area: h;
    background-color: dodgerblue;
}

.article {
    grid-area: a;
}

.nav {
    grid-area: nav;
    background-color: orange;
}

.link {
    grid-area: link;
    background-color: darkviolet;
}

.footer {
    grid-area: f;
    background-color: #00807c;
}