*, 
::after,
::before {
    box-sizing: border-box;
}

body, p, a, h1 {
    margin: 0;
    font-family: 'Objective';
    font-style: normal;
    color: #0F001A;
    text-decoration: none;
}

// Header style =====
// General =====
.header {
    background:  linear-gradient( #4a99d333 -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF ;
    box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.1);
}

.main-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #4A99D3;
    text-transform: uppercase;
}

.header__nav{
    padding-top: 40px;
    margin-bottom: 146px;
}
@media (min-width:350px) {
    .container {
        max-width: 1030px;
        margin: 0 15px;
    }
// Header style =====
    .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu {
        display: flex;
            align-items: center;}
    .menu-element {
        visibility: hidden;
        }
    .responsive-menu {
        display: block;
        background: url("../image/mobile-menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
        opacity: 0.5;
    }
    }
    .header__content {
        display: flex;
        flex-direction: column;
    }

    &-image {
        position: relative;
        .mockup-small {
            z-index: 10;
        }
        .mockup-big {
            
            left: 161px;
            bottom: 0;
        }
    }

@media (min-width:600px) {
    .container {
        max-width: 1030px;
        margin: 0 15px;
    }
    .header__nav {
        .menu-element {
            visibility: visible;
            margin-left: 20px;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            color: #0F001A;
        }
        .menu-element:nth-child(1){
            color: #4A99D3;
        }
        .responsive-menu {
            display: none;
        }
    }
    .header__content {
        display: flex;
        flex-direction: row;
        
    }
}
}
// Header content ===

.header__content {
    display: flex;
    margin-right: 32px;
    &-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 0.02em;
        
    }
    &-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        margin: 14px 0 60px 0;
    }
// Button=====
    &-download {
        display: flex;
        margin-bottom: 151px;
        .download-button {
            display: flex;
            background-color: #4A99D3;
            width: 180px;
            height: 60px;
            padding: 14px 22px;
            border-radius: 5px;
            margin-right: 20px;
            
        }
        .google-image {
            height: 30px;
            width: 27px;
        }
        .google-top-text, .google-bottom-text  {
            color: #FFFFFF;
            margin-left: 10px;
            font-family: 'Roboto', sans-serif;
        }
        .google-top-text {
            font-size: 10px;
        }
        .google-bottom-text{
            font-size: 18px;
    }
}
// Mokup ====
    &-image {
        position: relative;
        margin: 0 0 170px 32px;
        .mockup-small {
            z-index: 10;
        }
        .mockup-big {
            position: absolute;
            left: 161px;
            bottom: 0;
        }
    }

}

