body {
    margin: 150px;
    background-color: grey;
}

.animation {
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// Packman
.packman {
    background-color: darkgoldenrod;
    min-width: 100px;  
    min-height: 100px;
    // border-radius: 100%;
    animation-name: packman;
    animation-duration: 5s;
}

@keyframes packman {
  0% {
    
  }
    
  25% {
    transform: rotate(90deg);
    border-color: aqua;
  }
  50% {

  }
  100% {
    transform: rotate(-0,25turn);
    border-top-color: bisque;
  }
}

// Balls

.point {
    margin-right: 100px;
    background-color: #fff;
    min-width:  30px;
    min-height: 30px;
    border-radius: 50%;
    animation-name: movement-point;
    animation-duration: 5s;
}

@keyframes movement-point {
    from {
        transform: translateX(3000%);
    }
    to {
        transform: translateX(-100%);
    }
}